<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderMapper">

    <resultMap id="orderResultMap" type="entity.Order">
        <result property="id" column="id"/>
        <result property="time" column="order_time"/>
        <result property="state" column="state"/>
        <result property="effectiveTime" column="effective_time"/>
        <result property="userPhone" column="user_phone"/>
        <result property="packageId" column="package_id"/>
    </resultMap>

    <update id="unsubscribeImmediately">
        update package_orders
        set state = 'out'
        where id = #{id};
    </update>

    <update id="unsubscribeNextMonth">
        update package_orders
        set state = 'waiting_out'
        where id = #{id};
    </update>

    <insert id="addOrder" useGeneratedKeys="true" parameterType="entity.Order">
        insert into package_orders (order_time, state, effective_time, user_phone, package_id)
        values (#{time}, #{state}, #{effectiveTime}, #{userPhone}, #{packageId});
    </insert>

    <select id="findCurrentlyEffectiveOrders" parameterType="String" resultMap="orderResultMap">
        select *
        from package_orders
        where user_phone = #{phoneNumber}
          and (state = 'effective' or state = 'waiting_out')
        order by order_time asc
    </select>

    <select id="findAllOrders" resultMap="orderResultMap">
        select *
        from package_orders
        where user_phone = #{phoneNumber};
    </select>

    <select id="findByPhoneAndPlan" resultMap="orderResultMap">
        select *
        from package_orders
        where user_phone = #{userPhone}
          and package_id = #{packageId}
          and (state = 'effective' or state = 'waiting_effective')
        order by order_time
        limit 1;
    </select>
</mapper>